include ./includes/footer.jade

<!DOCTYPE html>
html
    head
        link(rel="stylesheet", href="/css/style.css")
        title Practice | #{prompt}
    body
        header
            //- h1.massive Language Practice
        
        article
            form(action="/answer", method="POST")
                h4 № #{wordId}
                h1= prompt

                input(type="text", name="answer", autofocus, autocomplete="off")

                h4.controls Enter '.hint' for a hint

                if hints
                    each val in hints
                        h2= `${Object.keys(val)[0]} • ${Object.values(val)[0]}`
        

                if ammended
                    h5 Answer ammended...

        +custom-footer(scoreObj)

